.video-list {
  border-left: 1px solid lightgray;
  grid-row: span 2;
  padding: 20px;
  height: 100vh;
  overflow: auto;

  .list-wrap{
    padding: 20px 0px;

    .list-title{
      text-align: center;
      font-size: 18px;
      font-weight :bold;
      text-transform: uppercase; 
    }
  }
}

@media(max-width:991px){
  .video-list{

    border: 1px solid lightgray;
  }
}