.video-list {
  grid-row: span 2;
  padding: 20px;
  height: calc(100vh - 87px);
  overflow: auto;

  .list-wrap{
    
    display: flex;
    justify-content: center;
  }
}
.list-title{
  text-align: center;
  font-size: 20px;
  font-weight :bold;
  text-transform: uppercase; 
}
