.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-width: 300px;
    
  }
  
  .form-controls {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
  .form-controls input[type="text"] {
    display: flex;
    border: 1px solid lightgray;
    flex-grow: 1;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
  }
  .form-controls input[type="text"]:focus {
    outline: none;
    border-color: #057ffb;
    box-shadow: 0 2px 5px lightgray;
  }
  
  .form-controls label {
    display: none;
  }

  .btn {
      margin-left: 10px;
      padding: 10px 12px;
  }

  .error{
    display: flex;
    align-items: center;
    z-index: 20;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 10px;
    background-color: #ed496c;
    left: 50%;
    top:80%;
    transform: translate(-62%, -7%);
    transition: all 0.3s ease-in-out;
    
    .cross {
      margin-right: 5px;
    }
  }

  .active{
    visibility:visible;
    opacity: 1;
  }

  @media(max-width:500px){
    .error{
      font-size: 10px;
    }
  }