html {
    height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .App {
    height: 100%;
    margin: 0;
  }
  
  .left-side{
      padding: 20px;
      ;

  }

  .rights-side{
    
    border-left: 1px solid lightgray;
  }

  .search-wrap {
    display: flex;
    justify-content: center;
    padding:20px 0px;
    border-bottom: 1px solid lightgray;
    
  }